<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css', v='6') }}">
    <script src="{{ url_for('static', filename='script.js', v='6') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>chat</title>
</head>
<body>
    <header>
        <div class="container" onclick="myFunction(this)">
            <div class="left-section"></div>
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
                <div class="header-icon">
                    <i class="fa fa-file-text-o"></i>
                </div>
            </div>
        </div>
    </header>

    <div id="accordionMenu" class="accordion">
        <a href="/">Home</a>
        <a href="/irgendwas">irgendwas</a>
        <a href="/About">About</a>
    </div>

    

    
</body>
</html>