{% extends 'base.html' %}
{% block title %}User Page{% endblock %}

{% block header %}login{% endblock %}

{% block content %}

    <div class="login-container">
        <h2>Login</h2>
            <form action="/login" method="POST">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter username" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter password" required>

                <button type="submit">Login</button>
            </form>
    </div>

    <div class="make-account">
        <p>You don´t have an account?</p>
        <a href="/signup">create a new account</a>
    </div>
{% endblock %}