{% extends 'base.html' %}
{% block title %}User Page{% endblock %}

{% block header %}Yus fancy Userpage{% endblock %}

{% block content %}
    <div class="signup-container">
        <h2>make a new account</h2>
            <form action="/signup" method="POST">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter username" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter password" required>

                <button type="submit">make a new account</button>
            </form>
    </div>
{% endblock %}