{% extends 'base.html' %}
{% block title %}User Page{% endblock %}

{% block header %}{{username}}s fancy Userpage{% endblock %}

{% block content %}
<div class="user-profile">
    <div class="user-icon">
        <img src="https://media1.tenor.com/m/JDo71KWH87EAAAAC/happy-happy-happy-cat.gif" alt="User Photo">
    </div>
    <div class="user-info">
        <p class="username">{{username}}</p>
        <p class="status">{{status}}</p>
    </div>
</div>

<div class="activity">
        <p class="line"></p>
        <div class="button-row">
            <button type="button" onclick="location.href='/chat'">Chat</button>
            <button type="button" onclick="location.href='/projects'">Projects</button>
            <button type="button" onclick="location.href='/friends'">Friends</button>
            <button type="button" onclick="location.href='/edit_profil'">edit profil</button>
        </div>
    </div>
    
{% endblock %}
